body {
    margin: 0px;

    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;

    background: #1f2224;
}

#calculator {
    max-width: 500px;
    min-height: 600px;
    margin: 60px auto;
    padding: 24px;

    box-shadow: 4px 4px 4px #171a1b;
    box-sizing: border-box;
    border-radius: 40px;

    background: #464c50;
}

#screen {
    max-width: 500px;
    min-height: 150px;
    margin: 0px auto;
    margin-bottom: 12px;
    padding: 12px 28px;

    box-shadow: 2px 4px 4px #30373b;
    box-sizing: border-box;
    border-radius: 40px;

    color: #171a1d;
    background: #86939c; 
}

#input {
    max-width: 500px;
    min-height: 80px;
    margin: 0px auto;
    margin-bottom: 12px;

    box-sizing: border-box;
}

#inputContent {
    font-size: 72px;
    line-height: 80px;

    height: 80px;
}

#liveOutput {
    max-width: 140px;
    min-height: 40px;
    margin-left: auto;
    padding-right: 4px;

    box-sizing: border-box;
}

#outputContent {
    font-size: 32px;
    line-height: 40px;

    height: 40px;
}

/* buttons */

.row {
    display: flex;
    gap: 0px 4px;
    justify-content: space-evenly;

    max-width: 500px;
    min-height: 90px;
    margin: 0px auto;
    padding: 4px 8px;

    box-sizing: border-box;
}

#bottomRow {
    max-width: 375px;
}

.key {
    width: 25%;
    height: 80px;

    box-shadow: 2px 2px 4px #30373b;
    border: solid 2px #3a3f42;
    border-radius: 16px;

    color: #c3d5e0;
    background: #464c50;
}

.key:hover {
    box-shadow: 0px 0px 0px #30373b;

    color: #94a2ac;
    background: #3a3f42;
}

.orangeKey {
    box-shadow: 2px 2px 4px #473825;
    border: solid 2px #865009;

    color: #771f05;
    background: #c7770f;
}

.orangeKey:hover {
    box-shadow: 0px 0px 0px #30373b;

    color: #360d00;
    background: #9e5e0b;
}

.greyKey {
    box-shadow: 2px 2px 4px #30373b;
    border: solid 2px #40464b;

    color: #33383b;
    background: #6f787e;
}

.greyKey:hover {
    box-shadow: 0px 0px 0px #30373b;

    color: #171a1d;
    background: #40464b;
}

#zeroKey {
    width: 45%
}

/* footer */

#footer {
    max-width: 1200px;
    margin: 0px auto;
    padding: 24px 12px;

    box-sizing: border-box;
    border-top: solid 1px #86939c;

    color: #86939c;
}

#footerContent {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}

#buttons {
    display: flex;
    gap: 0px 8px;
    justify-content: space-evenly;
    width: 30%;
    height: 80px;
}

#name {
    width: 40%;
    height: 80px;
}

#nameContent {
    font-size: 18px;
    line-height: 80px;
}

/* characteristics */

.text {
    font-size: 24px;
    font-weight: 700;
}

.content {
    margin: 0px;
    margin-left: auto;
    min-width: 75%;
}

.rightAlign {
    text-align: right;
}